
.appWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
:root {
	--color-bg: #f8f1ee;
	--color-menu-font: #ac3b61;
	--color-title-font: #123C69;
	--color-active: #0f7dc6;
}
/* Шапка сайта */

main {
	text-align: center;
	flex: 1 0 auto;
}

footer {
  text-align: center;
	flex: 0 0 auto;
}

.link{
  color: var(--color-menu-font);

  &:hover {
    color: var(--color-title-font);
  }
}

:export {
	primary: #ac3b61;
  secondary: #123C69;
}

