.appWrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
:root {
	--color-bg: #eee2dc;
	--color-active: #0f7dc6;
}
/* Шапка сайта */

main {
	text-align: center;
	flex: 1 0 auto;
}

footer {
  text-align: center;
	flex: 0 0 auto;
}

